{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow",
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "babel-plugin-ramda",
    "@babel/plugin-transform-runtime"
  ]
}
