.header {
  position: relative;
  background-color: #027bce;
  height: 40px;
}

.icon {
  position: relative;
  margin-left: 58px;
  width: 70px;
  height: 40px;
  display: inline-block;
}

.icon img {
  position: absolute;
  width: 52px;
  height: 54px;
  margin: 15px auto;
  left: 0;
  right: 0;
  z-index: 3;
}

.iconBG {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #027bce;
  z-index: 2;
}

.iconBG::after {
  content: '';
  position: absolute;
  width: 0;
  top: 100%;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 20px solid #027bce;
}

.user {
  float: right;
  line-height: 40px;
  font-size: 17px;
  color: #fff;
}

.avatar {
  margin: 6.5px 10px;
}

.userName {
  float: right;
  margin-right: 10px;
}
