.console {
  height: 100%;
  width: 300px;
  background-color: #fafafa;
  overflow: hidden;
  flex-shrink: 0;
  transition: all 0.3s;
}

.console.mobile {
  position: absolute;
  right: 0;
  width: 100%;
}

.console.collapsed {
  width: 0;
}
