body {
  font-family: 'Rajdhani', Microsoft JhengHei, sans-serif;
  background-color: #e6e6e6;
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100%;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* div {
  transition: all 0.3s;
}

img {
  transition: all 0.3s;
} */
