.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox {
  background: #fff;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 15px #aaaaaa50;
}

.loginBox .title {
  background-color: #027bce;
  padding: 10px 20px;
  font-size: 30px;
  color: #fff;
  width: 200px;
  text-align: center;
}

.loginBox .inputFields {
  width: 400px;
}
